.AContainer{    
     
    width: 80vw;
}
.AccountContainer{
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 3%;
    margin-top: 1vh;
}
.LinkContainer{
    border: 1px solid lightgray;
    padding: 3%;
    border-radius: 5px;
    margin-top: 1vh;
    font-size: 2em;
}
.Accountimgbtn{
    background-color: #242342;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}
.profileimg{
    border-radius: 50%;
    margin-right: 3vw;
}
.nickinput{
    width: 90%;
    border: none;
    background-color: #eee;
    padding: 1vw;
    margin: 2vh 0;
}
#myTextArea{    
    height: 15vh;
    width: 92%;
    border: 2px solid  rgba(132, 164, 246, 0.26);
    border-radius: 5px;
    margin-top: 1vh;  
    resize: vertical; /* 세로로만 리사이즈 가능하도록 설정 */
    max-height:20vh;
}
 
.savebtn{    
    padding:2vh 10vw; /*위아래 좌우*/
    border: none;
    background-color: #555;
    color: #fff;
    font-weight: bold;
    margin: 2vh 0;
    width: 90%;
     
}
.savebtn:hover{
    cursor: pointer;
}
.profile-container {
    display: flex;
    align-items: center; /* 세로 중앙 정렬 */
}