.DashContainer1{
    margin-top: 13vh;
    text-align: center;
 }
 
.Container{
    overflow-x: hidden; 

}
.DashBox{
    margin: 1%;
    padding: 14vh;
    background-color: rgba(132, 164, 246, 0.26);
    border-radius: 20px;
    color: darkblue;
}
.DetailBox{
    margin: 1%;
    padding: 4vh;
    border-radius: 20px;
    border: 1px solid #eee;
    text-align: left;
 }
 .DetailBox2{
    margin: 1%;
    padding: 4vh;
    text-align: left;
    border: 1px solid #eee;
    border-radius: 20px;

 }
.chartBox{
    margin: 1%;
    padding: 4vh;
    text-align: left;
    border: 1px solid #eee;
    border-radius: 20px;

} 
p span {
    float: right; /* span 요소를 오른쪽으로 띄워 정렬 */
  }
 .thebokibtn{
    text-align: center;
    padding: 3vh;
    
 } 
.barChartBox{
    display: flex;
    justify-content: center;
    align-items: center; 
    
   
} 
@media only screen and (max-width: 900px) {
    .DashContainer{        
        margin: 0;
    }
    .DashBox{
        padding: 8vh;
    }
}