.moneybook-container {
    display: flex;
    margin-top: 13vh;
    
}
  
.moneybook-content {
    flex: 1; /* 좌측 내용이 남은 공간을 모두 차지하도록 함 */
    padding: 20px; /* 내용과 테두리 간격 조절 */
    background-color: rgba(132, 164, 246, 0.26);;
}
  
.add-container {
    padding: 20px; /* 우측 내용과 테두리 간격 조절 */
    box-sizing: border-box;
    background-color: rgba(132, 164, 246, 0.26);;

}
  
select {
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 1vh 1vw;
    border: none;
    font-weight: bold;
    font-size: 1em;
    border-radius: 5px;
}
select:hover{
    background-color: whitesmoke;
}
.historyContainer{
    padding-bottom: 10vh;
  
   
}