.myaside {
    width: 20vw;
    height: 100vh;
    padding: 10px;     
}  

.mybtn {
    width: 95%;
    padding: 1vmax;
    margin-bottom: 3vh;
    text-align: left; 
    background-color: #fff;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    border: 1px solid lightgray;
}
.mybtn:hover{  
   background-color: #eee;
}
.categorybox{
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 1vh 0;
   
}
.postbox{
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10vh 2vw;
    margin: 1vh 0;
}
 
.myContainer1{
    margin-top: 12vh;
    width: 100%;  
    overflow-x: hidden;  
}
.mypageheader{
    background-color: rgba(132, 164, 246, 0.26);
    color: darkblue;
    padding: 1vh;
    width: 100vw;
}
.postcategorybtn{
    background-color: #fff;
    padding: 2vh 2vw;
    color: gray;
    border: 2px solid #fff;
}
.postcategorybtn:hover{
    cursor: pointer;
    color: #111;
}
.postcategorybtn:active{
    border-bottom: 2px solid black;

}
.postContainer{
    width: 80vw;
}

.helpcontainer{
   
    width: 80vw;
}
.mycon{  
     padding: 10px;
       
}
.toggle-btn {
    display: none;
    z-index: 10;
  }
 
  @media (max-width: 414px) {
    .myaside {
        width: 100%;
        height: auto;
        position: static;     
        background-color: #fff;     
        transition: transform 0.3s ease;  
        transform: translateX(0); 
        z-index: 2;
      }
    .myaside.hidden {
          transform: translateX(-100%);  
        }
      
    .toggle-btn {
        display: block;
        background-color: #fff;
        z-index: 10;
        border: none;
        transform: translateX(22vw);
        position: absolute;
        top: 14vh;
        left: 10vw;
        transition: transform 0.3s ease; 
    }
    .toggle-btn.hidden{
        transform: translateX(-10vw); 
        
    }   
    .mycon {
        flex: 1;
        padding: 10px;
        transition: transform 0.3s ease;  
        transform: translateX(0); 
        transform: translateX(-35vw);
        z-index: 1;
      }
      
  }