.myaside {
    width: 20vw;
    height: 100vw;
    padding: 10px;
    
}
  
.mybtn {
    width: 100%;
    padding: 1vmax;
    margin-bottom: 3vh;
    text-align: left; 
    background-color: #fff;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
}
.mybtn:hover{  
   background-color: #eee;
}
 
.myContainer{
    margin-top: 12vh;
}