.write-post-container {
    max-width: 80vw;
    margin: 13vh auto;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid  rgba(132, 164, 246, 0.26);
   }
  

#contentTextarea {
    height: 50vh; /* 화면 높이의 50%로 설정 */
    width: 80vw;
    resize: vertical; /* 세로로만 리사이즈 가능하도록 설정 */
    border: 2px solid  rgba(132, 164, 246, 0.26);
    border-radius: 5px;
    margin-top: 1vh;
 
  }
#titleInput{
    border-radius: 5px;
    padding: 2vh 0;
    width: 80vw;
    border: 2px solid  rgba(132, 164, 246, 0.26);
}
.button-container {
    display: flex;
    justify-content: space-between;
   }
  
.backbtn {
    align-self: flex-start; 
}
  
.submitbtn {
    align-self: flex-end;    
    padding: 2vh 3vw;  
    border: none;
    background-color: #555;
    color: #fff;
    font-weight: bold;    
    border-radius: 5px;
  }
  .submitbtn:hover{
    cursor: pointer;
  }
button{
    white-space: nowrap; 
}